body {
    background-color:#513725;
    color: white;
    font-family: 'Didact Gothic';
    height:100vh;
    width:100vw;
    margin:0;

}

a {
    color:#fba973;
    text-decoration:none;

}
a:hover {
    color: rgba(255,230,0,1);

}
a:visited {
    color:#fba973;

}

.header {
    width:95vw;
    height:10vh;
    
}
#siteTitle {
    font-size:1.75em;
    padding-left:5vw;
    font-weight:bold;

}
.subHeader {
    font-size:1.45em;
    font-weight:bold;
    text-align:center;

}
.topnav {
    height:5vh;
    width:95vw;
    text-align:right;
    font-size:1.25em;
    padding-right:2vw;
    border-bottom:1px solid rgba(128,128,128,0.500);

}
.content {
    width:95vw;
    padding-left:2vw;
    flex-wrap:wrap;

}