a {
    color: rgba(255,255,255,0.925);
}
a:hover {
    color: khaki;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Didact Gothic';
    padding: 10px;
    background: #202124;
}
header {
    padding: 30px;
    text-align: center;
    font-size: 2em;
}
nav {
    float:left;
    overflow: hidden;
    padding:20px;
    
}
content {
    padding: 20px;
    float: left;
    height:50%;
    overflow: hidden;
}
footer {
    padding:10px;
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
}
